.main
  width: 80%
  margin: auto
  text-align: center

.home
  margin-top: 2%
  width: 100%
  position: absolute
  z-index: -1

.title
  margin-top: 5%
  letter-spacing: .2rem

.card--style
  padding: 5%
  border: 1px solid rgba(#e3e3e3, 0.15)
  border-radius: 1rem
  box-shadow: #c7c7c7 0px 4px 30px 10px
  margin: 5% 0 5% 0
  background-color: white

.devicon-plain
  width: 2rem

  & path
    fill: #60BF86


