.NavBar-vertical {
    position: sticky;
    right: 0px;
    background-color: #000000;
    width: 50px;
    min-height: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all .5s ease-in-out;
}

.NavBar-icon {
    margin: 5px;
    width: 40px;
  }
  
  .NavBar-icon:after, 
  .NavBar-icon:before, 
  .NavBar-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
  }

  .NavBar-vertical:hover .NavBar-icon:before,
  .NavBar-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
  }
  
  .NavBar-vertical:hover .NavBar-icon:after,
  .NavBar-icon:hover:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .NavBar-vertical:hover .NavBar-icon div,
  .NavBar-icon:hover div {
    transform: scale(0);
  }

  .NavBar-vertical:hover {
      width: 300px;
  }
