:root{
  --light-grey: #D3D3D3;
  --navbar-width: 250px;
}

.App {
  display: flex;
  flex-direction: row-reverse;
}

.flex {
  display: flex;
}

.m-auto {
  margin: auto;
}

.center {
  text-align: center;
}